



/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #d1d1d1;
  

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 1300px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/
table {
  width: 100%;
  background-color: #fff;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column100 {
  width: 130px;
  padding-left: 25px;
}

.column100.column1 {
  width: 265px;
  padding-left: 42px;
}

.row100.head th {
  padding-top: 24px;
  padding-bottom: 20px;
}

.row100 td {
  padding-top: 18px;
  padding-bottom: 14px;
}


/*==================================================================
[ Ver1 ]*/
.table100.ver1 td {
  font-family: Montserrat-Regular;
  font-size: 18px;
  /*color: #808080;*/
  color: #000080;
  line-height: 1.4;
}

.table100.ver1 th {
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #fff;
  line-height: 1.4;
  text-transform: uppercase;

  background-color: #36304a;
}

.table100.ver1 .row100:hover {
  background-color: #f2f2f2;
}


.table100.ver1 .hov-column-ver1 {
  background-color: #f2f2f2;
}

.table100.ver1 .hov-column-head-ver1 {
  background-color: #484848 !important;
}

.table100.ver1 .row100 td:hover {
  background-color: #6c7ae0;
  color: #fff;
}

.table100.ver1 td {
  border-collapse: collapse;
}

.table100.ver1 td {
  border: 1px solid black;
}

.table100.ver1 th {
  border-collapse: collapse;
}

.table100.ver1 th {
  border: 1px solid black;
}


.table100.ver1 {
  border-collapse: collapse;
}

.table100.ver1 {
  border: 1px solid black;
}

.table100.ver1 .row100:hover {
  border-collapse: collapse;
}

.table100.ver1 .row100:hover {
  border: 1px solid black;
}

.table100.ver1 .hov-column-ver1 {
  border-collapse: collapse;
}

.table100.ver1 .hov-column-ver1 {
  border: 1px solid black;
}

.table100.ver1 .hov-column-head-ver1 {
  border-collapse: collapse;
}

.table100.ver1 .hov-column-head-ver1 {
  border: 1px solid black;
}


.table100.ver1 .row100 td:hover {
  border-collapse: collapse;
}

.table100.ver1 .row100 td:hover {
  border: 1px solid black;
}
/*==================================================================

/*-----------------------Picture+Text-----------------------------*/
#demoimage {
  float: left ;
}
#demotext {
  float: center ;
}